name: CI

on:
  workflow_dispatch:

jobs:
  build-kernel:
    runs-on: ubuntu-22.04
    steps:
      - name: Build kernel
        uses: dabao1955/kernel_build_action@main
        with:
          kernel-url: https://github.com/akzzy/android_kernel_xiaomi_sdm845_docker
          kernel-branch: 16.0-KSU-Next
          config: beryllium_defconfig
          arch: arm64
          aosp-gcc: true
          aosp-clang: true
          aosp-clang-version: r547379
          android-version: 12
          ccache: true
          anykernel3: true
          release: true
          access-token: ${{ secrets.GITHUB_TOKEN }}
