name: CI

on:
  workflow_dispatch:

jobs:
  build-kernel:
    runs-on: ubuntu-22.04
    steps:
      - name: Build kernel dockerlxcfinalpatch
        uses: dabao1955/kernel_build_action@main
        with:
          kernel-url: https://github.com/duckyduckG/android_kernel_xiaomi_sdm845_419
          kernel-branch: lineage-23.0_xiaomi
          config: defconfig
          arch: arm64
          aosp-gcc: true
          aosp-clang: true
          aosp-clang-version: r383902
          android-version: 12
          anykernel3: true
          release: true
          access-token: ${{ secrets.GITHUB_TOKEN }}
