name: CI

on:
  workflow_dispatch:

jobs:
  build-kernel:
    runs-on: ubuntu-22.04
    steps:
      - name: Build kernel
        uses: dabao1955/kernel_build_action@main
        with:
          kernel-url: https://github.com/akzzy/android_kernel_xiaomi_sdm845_docker
          kernel-branch: 16.0-KSU-Next
          config: beryllium_defconfig
          arch: arm64

          aosp-gcc: false
          aosp-clang: false

          other-clang-url: https://android.googlesource.com/platform/prebuilts/clang/host/linux-x86/+archive/refs/heads/main/clang-r536225.tar.gz

          android-version: 15
          ccache: true
          anykernel3: true
          release: true
          access-token: ${{ secrets.GITHUB_TOKEN }}
