name: CI

on:
  workflow_dispatch:

jobs:
  build-kernel:
    name: Build Kernel
    runs-on: ubuntu-22.04
    steps:
      - name: Build
        uses: dabao1955/kernel_build_action@main
        with:
          kernel-url: https://github.com/akzzy/android_kernel_xiaomi_sdm845
          kernel-branch: 16.0-KSU-Next
          config: beryllium_defconfig
          arch: arm64
          aosp-gcc: false
          aosp-clang: true
          android-version: 16
          aosp-clang-version: r547379
